#root {
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-cyan: hsl(180, 62%, 55%);
  --clr-primary-orange: hsl(34, 97%, 64%);
  --clr-primary-blue: hsl(212, 86%, 61%);

  --clr-neutral-dark-blue: hsl(234, 12%, 34%);
  --clr-neutral-grey-blue: hsl(229, 6%, 66%);
  --clr-neutral-light-grey: hsl(0, 0%, 98%);

  --ff-base: "Poppins", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;

  --fs-400: 0.9275rem;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;
  --fs-700: 2.5rem;
}

html {
  font-family: "Poppins", sans-serif;
}
