#root {
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-cyan: hsl(180, 62%, 55%);
  --clr-primary-orange: hsl(34, 97%, 64%);
  --clr-primary-blue: hsl(212, 86%, 61%);

  --clr-neutral-dark-blue: hsl(234, 12%, 34%);
  --clr-neutral-grey-blue: hsl(229, 6%, 66%);
  --clr-neutral-light-grey: hsl(0, 0%, 98%);

  --ff-base: "Poppins", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-550: 1.75rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;
  --fs-900: 3.5rem;
}

main {
  font-family: var(--ff-base);
}
